/* fonts import */
@font-face {
    font-family: "Ketchum";
    src: url("./fonts/Ketchum.otf") format("opentype");
}

@font-face {
    font-family: "PokemonHollow";
    src: url("./fonts/PokemonHollow.ttf") format("truetype");
}

@font-face {
    font-family: "PokemonSolid";
    src: url("./fonts/PokemonSolid.ttf") format("truetype");
}

@font-face {
    font-family: "PokemonClassic";
    src: url("./fonts/PokemonClassic.ttf") format("truetype");
}

/* variables */
:root {
    --font-stack: Calibri, sans-serif;
    --background-color: #1a1a1c;
    --first-color: #fafafa;
    --second-color: #22488e;
    --third-color:  #1a214b;
    --forth-color: #2a3d61;
    --stats-bg-color: #c4c4c452;
    --white: #fafafa;
    --black: #000;
    --dark-color: #1a1a1c;
}

/* global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

body {
    font-family: var(--font-stack);
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--first-color);
    overflow-x: hidden;
    padding: 2rem;
}

ul, ol {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* header */
.header {
    font-family: PokemonHollow, Calibri, sans-serif;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 2rem;
}

/* filter */

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
}

.pagination_item {
    font-family: PokemonClassic, Calibri, sans-serif;
    font-size: 1.2rem;
    margin: .1rem;
    text-align: center;
}

.pagination_link {
    padding: 0 .2rem;
}

.currentPage,
.pagination_link:hover,
.pagination_link:focus {
    border-bottom: 2px solid var(--first-color);
    outline: none;
}

/* pokemon card */
.pokemonlist {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
}

.pokemoncard {
    font-size: 1.5rem;
    text-align: center;
    width: 80vw;
    max-width: 300px;
    height: 16rem;
    margin: .5rem;
    border: 8px solid var(--third-color);
    border-radius: 5px;
    background-image: url("./images/card_background.png");
    background-size: cover;
    background-color: var(--second-color);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    color: var(--first-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pokemoncard_back {
    flex-flow: column nowrap;
    justify-content: space-evenly;
    font-size: 1rem;
    padding: 0 .5rem;
    border-color: var(--black);
    background-color: var(--forth-color);
}

.pokemoncard_stats {
    width: 100%;
}

.pokemoncard_subtitle {
    margin: .5rem;
    font-size: 1.2rem;
}

.pokemoncard_subtitle::first-letter {
    text-transform: uppercase;
}

.pokemoncard_stats_item {
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
    text-transform: capitalize;
}

.pokemoncard_stats_fullbar {
    display: inline-block;
    background-color: var(--stats-bg-color);
    width: 100px;
    text-align: left;
    border-radius: 5px;
    position: relative;
}

.pokemoncard_stats_progressbar {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100%;
    border-radius: 5px;
    color: var(--dark-color);
    background-color: var(--white);
    padding-left: 5px;
    font-size: .8rem;
    position: absolute;
}

.pokemoncard:hover,
.pokemoncard:focus {
    opacity: .8;
}

.pokemoncard_img {
    width: 140px;
    margin-top: -1rem;
}

.pokemoncard_name {
    text-transform: capitalize;
    position: absolute;
    bottom: 5px;
}