/* fonts import */
@font-face {
    font-family: "Ketchum";
    src: url("./fonts/Ketchum.otf") format("opentype");
}

@font-face {
    font-family: "PokemonHollow";
    src: url("./fonts/PokemonHollow.ttf") format("truetype");
}

@font-face {
    font-family: "PokemonSolid";
    src: url("./fonts/PokemonSolid.ttf") format("truetype");
}

@font-face {
    font-family: "PokemonClassic";
    src: url("./fonts/PokemonClassic.ttf") format("truetype");
}

/* variables */
:root {
    --font-stack: Calibri, sans-serif;
    --background-color: #fafafa;
    --first-color: #000;
    --second-color: #3b69be;
    --third-color:  #04156d;
    --forth-color: #ebae00
}

/* global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

body {
    font-family: var(--font-stack);
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--first-color);
}

ul, ol {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* header */
.header {
    font-family: PokemonHollow, Calibri, sans-serif;
    font-size: 3rem;
    line-height: 2;
    text-align: center;
}

/* filter */

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
}

.pagination_item {
    font-family: PokemonClassic, Calibri, sans-serif;
    font-size: 1.2rem;
    margin: .1rem;
    text-align: center;
}

.pagination_link {
    padding: 0 .2rem;
}

.currentPage,
.pagination_link:hover,
.pagination_link:focus {
    border-bottom: 2px solid var(--first-color);
    outline: none;
}

/* pokemon card */
.pokemonlist {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 1800px;
}

.pokemoncard {
    font-size: 1.5rem;
    text-align: center;
    width: 60vw;
    max-width: 300px;
    height: 11rem;
    margin: .5rem;
    border: 8px solid var(--third-color);
    border-radius: 5px;
    background-image: url("./images/card_background.png");
    background-size: cover;
    background-color: var(--second-color);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    color: var(--background-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pokemoncard:hover,
.pokemoncard:focus {
    opacity: .8;
}

.pokemoncard_img {
    width: 120px;
    margin-top: -1rem;
}

.pokemoncard_name {
    text-transform: capitalize;
    position: absolute;
    bottom: 5px;
}