/* fonts import */
@font-face {
    font-family: "PokemonHollow";
    src: url("./fonts/PokemonHollow.ttf") format("truetype");
}

@font-face {
    font-family: "PokemonSolid";
    src: url("./fonts/PokemonSolid.ttf") format("truetype");
}

@font-face {
    font-family: "PokemonClassic";
    src: url("./fonts/PokemonClassic.ttf") format("truetype");
}

/* variables */
:root {
    --font-stack: Calibri, sans-serif;
    --background-color: #070719;
    --first-color: #fafafa;
    --second-color: #22488e;
    --third-color:  #1a214b;
    --forth-color: #2a3d61;
    --loading-color: #9c1a28;
    --stats-bg-color: #c4c4c452;
    --white: #fafafa;
    --light-color: #a3a3a3;
    --black: #000;
    --dark-color: #1a1a1c;
}

/* global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

body {
    font-family: var(--font-stack);
    font-size: 16px;
    background-color: var(--background-color);
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    color: var(--first-color);
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

ul, ol {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem;
}

/* header */
.header {
    font-family: PokemonHollow, Calibri, sans-serif;
    font-size: 3.2rem;
    line-height: 1.2;
    text-align: center;
}

/* filter */
.filter {
    display: block;
	font-size: 1rem;
	font-family: inherit;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
    width: 80vw;
    min-width: 200px;
    max-width: 400px;
	margin: 1rem auto;
	border-radius: 5px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--white);
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat;
	background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    cursor: pointer;
}
.filter::-ms-expand {
	display: none;
}
.filter:hover {
	border-color: var(--second-color);
}
.filter:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px var(--second-color);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
    outline: none;
}

.filter:focus

.filter option {
    font-weight: normal;
    cursor: pointer;
}

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
}

.pagination_item {
    font-family: PokemonClassic, Calibri, sans-serif;
    font-size: 1.2rem;
    margin: .1rem;
    text-align: center;
}

.pagination_link {
    padding: 0 .2rem;
}

.currentPage,
.pagination_link:hover,
.pagination_link:focus {
    border-bottom: 2px solid var(--first-color);
    outline: none;
}

/* pokemon card */
.pokemonlist {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
}

.pokemoncard {
    font-size: 1.5rem;
    text-align: center;
    width: 80vw;
    max-width: 300px;
    height: 16rem;
    margin: .5rem;
    border: 8px solid var(--third-color);
    border-radius: 5px;
    background-image: url("./images/card_background.png");
    background-size: cover;
    background-color: var(--second-color);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    color: var(--first-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pokemoncard_back {
    flex-flow: column nowrap;
    justify-content: space-evenly;
    font-size: 1rem;
    padding: 0 .5rem;
    border-color: var(--black);
    background-color: var(--forth-color);
}

.pokemoncard_stats {
    width: 100%;
}

.pokemoncard_subtitle {
    margin: .5rem;
    font-size: 1.2rem;
}

.pokemoncard_subtitle::first-letter {
    text-transform: uppercase;
}

.pokemoncard_stats_item {
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
    text-transform: capitalize;
}

.pokemoncard_stats_fullbar {
    display: inline-block;
    background-color: var(--stats-bg-color);
    width: 100px;
    text-align: left;
    border-radius: 5px;
    position: relative;
}

.pokemoncard_stats_progressbar {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100%;
    border-radius: 5px;
    color: var(--dark-color);
    background-color: var(--white);
    padding-left: 5px;
    font-size: .8rem;
    position: absolute;
}

.pokemoncard:hover,
.pokemoncard:focus {
    background-color: var(--light-color);
}

.pokemoncard_img {
    width: 140px;
    margin-top: -1rem;
}

.pokemoncard_name {
    text-transform: capitalize;
    position: absolute;
    bottom: 5px;
}

/* loading */
.loading {
    width: 100vw;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.pokeball {
    width: 150px;
    height: 150px;
    animation: rotate 1.5s linear infinite;
    left: calc(50% - 75px);
    display: inline-block;
}

.inner {
    width: 150px;
    height: 75px;
    border: 48.3333333333px solid var(--loading-color);
    box-sizing: border-box;
}

.upper, .pokeball .lower {
    width: 100%;
    position: absolute;
    height: calc(50% - 5px);
    overflow: hidden;
}

.upper {
    top: 0;
}

.upper .inner {
    border-radius: 123.3333333333px 123.3333333333px 0 0;
    border-bottom: 0;
    margin-bottom: -5px;
    border-color: white;
}

.lower {
    bottom: 0;
}

.lower .inner {
    margin-top: -5px;
    border-radius: 0 0 123.3333333333px 123.3333333333px;
    border-top: 0;
}

.middle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--background-color);
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* no items message */
.message {
    font-size: 1.5rem;
    margin: 3rem;
}
